
<%= form_with(model: @question, local: false) do |form| %>

  <div class="modal-body">
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control form-control-lg" %>
    </div>  


    <div class= "form-group">
      <%= form.label :answer %>
      <%= form.text_field :answer, class: "form-control form-control-lg"  %>
    </div>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-lg close-modal" data-dismiss="modal">Close</button>
    <%= form.submit class: "btn btn-primary btn-lg" %>
  </div>

  
<% end %>