<div class="card mt-3 mb-2" id="questionRow_<%= question.id %>">
  <div class="card-header" id="headingOne">
    <h5 class="mb-0">
      <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_<%= question.id %>" aria-expanded="true" aria-controls="collapse_<%= question.id %>">
        <h4><%= question.title %></h4>
      </button>
    </h5>
  </div>

  <div id="collapse_<%= question.id %>" class="collapse" aria-labelledby="heading_<%= question.id %>" data-parent="#accordion">
    <div class="card-body">
      <p class="lead"><%= truncate(question.answer, length: 100) %></p>
      <% if question.answer.length > 100 %>
        <%= link_to 'View Full Answer' , question, class: "btn btn-info", data: { toggle: 'modal', target: '#showQuestionModal', remote: true } %>
      <% end %>
      <%= link_to 'Edit' , edit_question_path(question), class: "btn btn-success", data: { toggle: 'modal', target: '#editQuestionModal', remote: true } %>
      <%= link_to 'Delete', question, class: "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?', remote: true } %>
    </div>
  </div>
</div>
