<div class="col-lg-12 mt-3">
  <h1>Questions and Answer</h1>

  <%= link_to 'New Question', new_question_path, class: "btn btn-primary btn-lg" %>

  <div id="accordion">
    <% @questions.each_with_index do |question, index| %>
      <div class="card mt-3 mb-2">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_<%= index %>" aria-expanded="true" aria-controls="collapse_<%= index %>">
              <h4><%= question.title %></h4>
            </button>
          </h5>
        </div>

        <div id="collapse_<%= index %>" class="collapse" aria-labelledby="heading_<%= index %>" data-parent="#accordion">
          <div class="card-body">
            <p class="lead"><%= truncate(question.answer, length: 100) %></p>
            <% if question.answer.length > 100 %>
              <%= link_to 'View Full Answer' , question, class: "btn btn-info" %>
            <% end %>
            <%= link_to 'Edit' , edit_question_path(question), class: "btn btn-success" %>
            <%= link_to 'Delete', question, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


