<div class="col-lg-10 mt-3">

<h1>All Users</h1>

<%= link_to 'New User', new_user_path, class: "btn btn-primary btn-lg" %>

<table class ="table table-bordered mt-5">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.role %></td>
        <td><%= user.email %></td>
        <td>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
           <%= link_to 'View' , user, class: "dropdown-item" %>
           <%= link_to 'Edit' , edit_user_path(user), class: "dropdown-item" %>
           <%= link_to 'Delete', user, method: :delete, data: {confirm: 'Are you sure?'}, class: "dropdown-item" %>
          </div>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>
</div>