<div class="col-lg-10 mt-3">
  <h1>All Listed Companies are Below:</h1>

  <%= link_to 'New Company', new_company_path, class: "btn btn-primary btn-lg" %>

  <table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th>Name</th>
        <th>About</th>
        <th>City</th>
        <th>Country</th>
        <th>Size</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.about %></td>
        <td><%= company.city %></td>
        <td><%= company.country %></td>
        <td><%= company.size %></td>
        <td>
         <div class="dropdown">
           <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Actions
           </button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to 'View' , company, class: "dropdown-item" %>
            <%= link_to 'Edit' , edit_company_path(company), class: "dropdown-item" %>
            <%= link_to 'Delete', company, method: :delete, data: {confirm: 'Are you sure?'}, class: "dropdown-item" %>
           </div>
         </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @companies %>
</div>